.card {
    background-color: #FCDDEC;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
    padding: 30px;
}

.card h1 {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
}