/*change this css into the examcard one and seperate them*/
/* ScheduleView.css */
.add-exam-button {
    margin-right: auto;
    margin-left: auto;
}
.buttons-container {
    margin-left: auto;
    margin-right: auto;
}
.upcoming-exams {
    text-align: center;
}
.schedule-view-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.exam-cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 50px; 
    margin-left: 10px;
}

.schedule-chart-container {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.schedule-day {
    background-color: rgb(241, 202, 117);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 130px; 
    height: 200px;
    text-align: center;
}

.schedule-days {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    margin-left: 10px;
}

.heading{
    margin-left: 10px;
}